body{

	
}

#container {
	margin: auto;
	max-width: 1100px;
	width: 100%;
}

/*Modal*/
#mask {position:absolute;
z-index:9000;  
background-color:#000; 
display:none;
}

#boxes .window {
position:absolute;
width:500px;
height:500px;
display:none;
z-index:9999;
padding:20px;
border-radius:10px;

}

/* Personalize a janela modal aqui. Você pode adicionar uma imagem de fundo. */
#boxes #dialog {
width:835px;
height: 340px;
/*background-color: #C0C0C0;*/
overflow: auto;

background: rgb(242,245,246); /* Old browsers */
background: -moz-linear-gradient(top, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */




margin-left: 14%;
margin-top: -100px;
}
/* posiciona o link para fechar a janela */
.close{
display:block; 
text-align:right;
}  
#img_modal{
	width: 100%;
	height: 100%;
}
.lbinfo{
	float: left;
	width: auto;
	min-width: 120px;
	margin-left: 8px;
	margin-top: 4px;


}
.lbinfo1{
	float: left;
	width: 277px;
}
#barra_modal{
	height: 50px;
	width: 100%;
	margin-top: -15px;
}
#title_modal{
	float: left;
	padding-left: 70px;
	padding-top: 3px;
	font-size: 20px;
}
#opc_modal{
	float: right;
}
#modal_img{
	float:left;
	width: 120px;
	height: 124px;
	margin-left:1px;
	margin-right: 10px;
}
/*fim modal*/
/* classes */
.elemento{
	cursor: pointer;
font:bold 14px Tahoma, Geneva, sans-serif;
font-style:normal;

width:62px;
padding-top: 0px;
padding-left: 0px;
padding-right: 0px;
padding-bottom: 0px;
height: 58px;
margin:0 auto;

border-color: black;
border-style: solid;
border-width: 1px ;

}

.elemento:active{
position:relative;
top:2px;
}

.largura_familia{
  width: 62px;
}
.name_element{
	color: black;
	font-style:normal;
	font: bold 10px Times New Roman, Geneva, sans-serif;
}
.num_atomico{
	font-size: 10px;
	color: black;
	clear: both;
}
.info_familia{
	font-size: 14px;
	text-align: center;
	margin-left: 22px;
}
.gasoso{
	color: blue;
}
.liquido{
	color:#DC143C;
}
.solido{
	color: black;
}
.desconhecido{
	color: #A9A9A9;
}
.hidrogenio{
	background-color: #008000;
}
.metais_alcalinos{
	background-color:#D2691E;
	background: -moz-linear-gradient(top, rgba(255,168,76,1) 0%, rgba(255,123,13,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
}
.metais_alcalinos_terrosos{
	background-color:#FFFF00;
	 /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgba(241,218,54,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */

}
.metais_transicao{
	background-color: #E6E6FA;
	background: -moz-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(193,191,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(193,191,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea',GradientType=0 ); /* IE6-9 */
}
.lantanideos{
	background-color: #F4A460;
	background: -moz-linear-gradient(top, rgba(255,243,197,1) 0%, rgba(255,188,81,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,243,197,1) 0%,rgba(255,188,81,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,243,197,1) 0%,rgba(255,188,81,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff3c5', endColorstr='#ffbc51',GradientType=0 ); /* IE6-9 */
}
.actinideos{
	background-color:#808000;
	background: -moz-linear-gradient(top, rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
}
.semi_metais{
	background-color: #1E90FF;
	background: -moz-linear-gradient(top, rgba(135,224,253,1) 0%, rgba(83,203,241,1) 40%, rgba(5,171,224,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
}
.nao_metais{
	background-color: #ADFF2F;
	background: -moz-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
}

.metais_representativo{
	background-color: #F0E68C;
	background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgba(241,218,54,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
}
.halogenios{
	background-color: #40E0D0;
	background: -moz-linear-gradient(top, rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}
.gases_nobres{
	background-color: #4682B4; /* FF3.6-15 */
	background: -webkit-linear-gradient(rgba(208,228,247,1) 0%, rgba(115,177,231,1) 24%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%);
	background: -o-linear-gradient(rgba(208,228,247,1) 0%, rgba(115,177,231,1) 24%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%);
	background: linear-gradient(rgba(208,228,247,1) 0%, rgba(115,177,231,1) 24%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
}

.margin_lantanideos,
.margin_actinideos{
	margin-right: -4px;
}

#tabela{
	float: left;
	width: 1120px;
	margin-top: 4px;
	clear: both;
	float: left;
	border-style: solid;
    border-width: 0px ;
}

#div_1a,
#div_8a{
  height: auto; 	
  float: left;
}
#div_2a,
#div_3a,
#div_4a,
#div_5a,
#div_6a,
#div_7a{
  height: auto; 	
  float: left;
  padding-top: 58px;
}
#div_3b,
#div_4b,
#div_5b,
#div_6b,
#div_7b,
#div_81b,
#div_82b,
#div_83b,
#div_1b,
#div_2b{
  height: auto; 	
  float: left;
  padding-top: 174px;
}
#div_lantanideos{
	
	float:right;
	margin-right: 4px;
	padding-top: 14px;
	width: auto;
}
#div_actinideos{
	
	float:right;
	margin-right: 4px;
	width: auto;
}
#div_olograma_elemento{
	float: left;
	width: 150px;
}
#div_legenda{
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	

	width: 542px;
	height: 150px;
	border-style: solid;
	border-radius: 10px;
    border-width: 1px ;
}

#div_legend_col1,
#div_legend_col2,
#div_legend_col3,
#div_legend_col4{
	float: left;
	width: auto;
	margin-right: 20px;
}
#div_legend_col5{
	float: left;
	width: auto;
}
#div_legend_estado{
	position: absolute;
	margin-top: 58px;
	border: 1px;
	width: 600px;
	height: auto;
	border-style: solid;
    border-width: 0px ;
}
#div_legend_estado p {
	float: left;
	margin-left: 30px;
}
.size1{
	font-size: 12px;
}

#btn_serie_Lantanidios:active{
	top: 0px !important;
}
#btn_serie_actinideos:active{
	top: 0px !important;
}